{% extends "./_common/base.njk" %}

{% block content %}
<section class="section" id="article-list">
  <div class="container">
  {% for p in page.posts.data %}
    <article>
      <h1 class="title">
        <a href="{{ url_for(p.path) }}">
          {{ p.title }}
        </a>
      </h1>
      <p class="subtitle">
        Posted on <time datetime="{{ p.date.toISOString() }}">{{ p.date.format('LL') }}</time>
      </p>
      <p>
        {{ p.excerpt }}
      </p>
    </article>
  {% endfor %}
  </div>
</section>
{% endblock %}