{% extends "./_common/base.njk" %}

{% block content %}
<article class="page">
  <header class="header">
    <h1 class="title">{{ page.title }}</h1>
  </header>
  <div class="content">
    {{ page.content | safe }}
  </div>
</article>
{% endblock %}