{% extends "./_common/base.njk" %}

{# A macro for social media icon button links #}
{% macro socialButton(href, icon, size = 'small') %}
  {% set buttonClass = icon %}
  {% if size %}
    {% set buttonClass = buttonClass + ' is-' + size %}
  {% endif %}
  <a href="{{ href }}" target="_blank" class="social-button {{ buttonClass }}">
    <span class="icon">
      <i class="fa fa-{{ icon }}"></i>
    </span>
  </a>
{% endmacro %}

{# The main content block with the post #}
{% block content %}
<article class="post">
  {% set post = page %}
  {% include "./_common/post-header.njk" %}

  <div class="content post-content">
    {{ post.content | safe }}
  </div>

  <footer class="post-footer">
    <ul class="post-tags">
      {% for t in post.tags.data %}
      <li class="post-tag">
        <a href="{{ url_for(t.path) }}" class="button is-light">{{ t.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </footer>
</article>
{% endblock %}

{# The sidebar with the author bio #}
{% block sidebar %}
<aside class="sidebar-aside">
  <figure class="image is-128x128 sidebar-aside-image">
    <img src="/images/luke.jpg">
  </figure>
  <h4 class="sidebar-aside-title">
    {{ config.author }}
  </h4>
  <p class="sidebar-aside-buttons">
    {{ socialButton('https://twitter.com/LukeTillman', 'twitter') }}
    {{ socialButton('https://github.com/LukeTillman', 'github') }}
    {{ socialButton('/rss', 'rss') }}
    {{ socialButton('https://plus.google.com/+LukeTillman1', 'google-plus') }}
    {{ socialButton('https://www.linkedin.com/in/luketillman', 'linkedin') }}
  </p>
  <p class="sidebar-aside-description">
    I'm an engineer, soccer fan, political junkie, and lover of all nerdery. Currently employed as
    a Technical Evangelist at DataStax where I frequently work with Cassandra, .NET, and Node.js.
  </p>
</aside>
{% endblock %}