{% extends "./_common/base.njk" %}

{# A macro for a social media icon button link #}
{% macro socialButton(href, icon, size, isColor) -%}
  {# Figure out what classes to put on the button #}
  {%- set buttonClass = icon -%}
  {%- if size !== 'normal' -%}
    {%- set buttonClass = buttonClass + ' is-' + size -%}
  {%- endif -%}
  {%- if isColor -%}
    {%- set buttonClass = buttonClass + ' is-color' -%}
  {%- endif -%}

  <a href="{{ href }}" target="_blank" class="social-button {{ buttonClass }}">
    <span class="icon">
      <i class="fa fa-{{ icon }}"></i>
    </span>
  </a>
{%- endmacro %}

{# A macro that outputs all the social media icon buttons #}
{% macro socialButtons(size = 'normal', isColor = false) %}
  {{ socialButton('https://twitter.com/LukeTillman', 'twitter', size, isColor) }}
  {{ socialButton('https://github.com/LukeTillman', 'github', size, isColor) }}
  {{ socialButton('/atom.xml', 'rss', size, isColor) }}
  {{ socialButton('https://plus.google.com/+LukeTillman1', 'google-plus', size, isColor) }}
  {{ socialButton('https://www.linkedin.com/in/luketillman', 'linkedin', size, isColor) }}
{% endmacro %}

{# Metadata for the head element #}
{% block head %}
{% set descriptionMd = page.excerpt | striptags(false) %}
<link rel="canonical" href="{{ page.permalink }}" />

<meta name="description" content="{{ descriptionMd }}" />
<meta name="keywords" content="{{ _.map(page.tags.data, 'name').join(',') }}" />

{# Twitter card metadata (see https://dev.twitter.com/cards/types/summary) #}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.data.author.twitter_site }}" />

{# Open graph metadata (Twitter will fallback to some of this), see: http://ogp.me #}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ descriptionMd }}" />
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:url" content="{{ page.permalink }}" />
<meta property="og:type" content="article" />
{#-
  This is kinda a hack and would break if our permalink structure changes, but just use 
  the image specified along with the permalink
-#}
{%- if page.meta_image %}
<meta property="og:image" content="{{ page.permalink }}{{ page.meta_image }}" />
{% endif -%}
<meta property="article:published_time" content="{{ page.date.toISOString() }}" />
<meta property="article:modified_time" content="{{ page.updated.toISOString() }}" />
<meta property="article:author" content="{{ config.author }}" />
{% for t in page.tags.data -%}
<meta property="article:tag" content="{{ t.name }}" />
{% endfor -%}

{# Schema.org linked data metadata (used by Google), see: https://developers.google.com/search/docs/guides/intro-structured-data #}
<script type="application/ld+json">
  {{ page.ld | dump | safe }}
</script>
{% endblock %}

{# The main content block with the post #}
{% block content %}
<article class="post">
  {% set post = page %}
  {% include "./_common/post-header.njk" %}

  {% if post.header_note %}
    <div class="notification is-small is-{{ post.header_note.type }} has-title">
      <span class="notification-title">Note</span>
      <span class="notification-message">{{ post.header_note.text }}</span>
    </div>
  {% endif %}

  <div class="content post-content">
    {{ post.content | safe }}
  </div>

  {# Tags for the post #}
  <ul class="post-tags has-text-right">
    {% for t in post.tags.data %}
    <li class="post-tag">
      <a href="{{ url_for(t.path) }}" class="button is-light">{{ t.name }}</a>
    </li>
    {% endfor %}
  </ul>

  {# Footer note if present for the post #}
  {% if post.footer_note %}
    <div class="notification is-small is-{{ post.footer_note.type }} has-title">
      <span class="notification-title">Note</span>
      <span class="notification-message">{{ post.footer_note.text }}</span>
    </div>
  {% endif %}

  {# Author information #}
  <footer class="post-footer">
    <div class="media bio">
      <figure class="media-left">
        <p class="image is-128x128">
          <img src="{{ url_for(site.data.author.image_path) }}" alt="{{ config.author }}">
        </p>
      </figure>
      <div class="media-content">
        <h4 class="title is-4">
          {{ config.author }}
        </h4>
        <p class="bio-text">
          {{ site.data.author.bio }}
        </p>
        <p class="bio-text">
          {{ socialButtons('normal', true) }}
        </p>
      </div>
    </div>
  </footer>
</article>
{% endblock %}

{# The sidebar with the author bio #}
{% block sidebar %}
<aside class="sidebar bio">
  <p class="image is-128x128">
    <img src="{{ url_for(site.data.author.image_path) }}" alt="{{ config.author }}">
  </p>

  <h4 class="title is-4">
    {{ config.author }}
  </h4>

  <p class="bio-text">
    {{ socialButtons('small') }}
  </p>

  <p class="bio-text">
    {{ site.data.author.bio }}
  </p>
</aside>
{% endblock %}