{% extends "./_common/base.njk" %}

{# A macro for a social media icon button link #}
{% macro socialButton(href, icon, size) %}
  {% set buttonClass = icon %}
  {% if size %}
    {% set buttonClass = buttonClass + ' is-' + size %}
  {% endif %}
  <a href="{{ href }}" target="_blank" class="social-button {{ buttonClass }}">
    <span class="icon">
      <i class="fa fa-{{ icon }}"></i>
    </span>
  </a>
{% endmacro %}

{# A macro that outputs all the social media icon buttons #}
{% macro socialButtons(size) %}
  {{ socialButton('https://twitter.com/LukeTillman', 'twitter', size) }}
  {{ socialButton('https://github.com/LukeTillman', 'github', size) }}
  {{ socialButton('/rss', 'rss', size) }}
  {{ socialButton('https://plus.google.com/+LukeTillman1', 'google-plus', size) }}
  {{ socialButton('https://www.linkedin.com/in/luketillman', 'linkedin', size) }}
{% endmacro %}

{# The main content block with the post #}
{% block content %}
<article class="post">
  {% set post = page %}
  {% include "./_common/post-header.njk" %}

  <div class="content post-content">
    {{ post.content | safe }}
  </div>

  <footer class="post-footer">
    {# Tags for the post #}
    <ul class="post-tags">
      {% for t in post.tags.data %}
      <li class="post-tag">
        <a href="{{ url_for(t.path) }}" class="button is-light">{{ t.name }}</a>
      </li>
      {% endfor %}
    </ul>

    {# Author information #}
    <div class="media post-author">
      <figure class="media-left">
        <p class="image is-128x128 is-circle">
          <img src="{{ url_for(site.data.author.image_path) }}">
        </p>
      </figure>
      <div class="media-content">
        <h4 class="title is-4">{{ config.author }}</h4>
        <p>
          {{ site.data.author.bio }}
        </p>
        <p>
          {{ socialButtons() }}
        </p>
      </div>
    </div>
  </footer>
</article>
{% endblock %}

{# The sidebar with the author bio #}
{% block sidebar %}
<aside class="sidebar-aside">
  <figure class="image is-128x128 is-circle sidebar-aside-image">
    <img src="{{ url_for(site.data.author.image_path) }}">
  </figure>
  <h4 class="title is-4">
    {{ config.author }}
  </h4>
  <p class="sidebar-aside-buttons">
    {{ socialButtons('small') }}
  </p>
  <p class="sidebar-aside-description">
    {{ site.data.author.bio }}
  </p>
</aside>
{% endblock %}