{% extends "./_common/base.njk" %}

{# Metadata for head element #}
{% block head %}
<meta name="description" content="Articles for tag {{ page.tag }} on {{ config.title }}" />
<meta name="keywords" content="{{ page.tag }}" />
{% endblock %}

{# Main content #}
{% block content %}
  <div class="notification is-info is-medium has-title">
    {# Just go to home page when the notification is "closed" #}
    <a class="delete" href="/"></a>
    <span class="notification-title">Tag</span>
    <span class="notification-message">{{ page.tag }}</span>
  </div>

  {# List page of articles for the tag #}
  {% include "./_common/post-list.njk" %}
{% endblock %}