{% extends "./_common/base.njk" %}

{% block content %}
  <div class="notification is-info">
    {# Just go to home page when the notification is "closed" #}
    <a class="delete" href="/"></a>
    <span class="notification-title">Tag</span> <span class="notification-message">{{ page.tag }}</span>
  </div>

  {# List page of articles for the tag #}
  {% include "./_common/post-list.njk" %}
{% endblock %}