/**
 * Author and site bio styles
 */
.bio {
  .image {
    margin-bottom: 1em;
    
    img {
      border-radius: 50%;
    }
  }

  .bio-content {
    .title {
      font-size: $size-4;
    }

    .bio-text {
      font-size: $size-small;
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}