/**
 * Bulma overrides (originals are at: https://github.com/jgthms/bulma/blob/master/sass/utilities/variables.sass)
 */

// Colors
$primary: #026ed2;

$link: $primary;
$link-visited: $primary;
$link-hover: #0079ec;

// Some type sizes (use http://type-scale.com/ to calculate with 1.250 scale)
//    http://type-scale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&webfont=Open%2BSans&font-family=%27Open%20Sans%27%2C%20sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
$size-1: 39px;
$size-2: 32px;
$size-3: 25px;
$size-4: 20px;
$size-5: 16px;
$size-6: 14px;
$size-7: 11px;

$size-small: $size-6;
$size-normal: $size-5;
$size-medium: $size-4;
$size-large: $size-2;
$size-huge: $size-1;

// Default font family
$family-sans-serif: "Open Sans", sans-serif;

// Font weights
$weight-normal: 400;
$weight-bold: 600;
$weight-title-normal: 600;
$weight-title-bold: 600;

// Now import bulma after overriding
@import "../../../../node_modules/bulma/bulma.sass";