/**
 * The bulma notification element (http://bulma.io/documentation/elements/notification/)
 */ 
.notification {
  // Support different text sizes
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }

  // Support title/message in notification
  &.has-title {
    .notification-title {
      padding-right: 10px;
    }

    // Set colors based on class used on notification
    &.is-primary {
      .notification-title {
        color: $primary-light;
        border-color: $primary-light;
      }
    }

    &.is-info {
      .notification-title {
        color: $info-light;
        border-color: $info-light;
      }
    }

    &.is-success {
      .notification-title {
        color: $success-light;
        border-color: $success-light;
      }
    }

    &.is-warning {
      .notification-title {
        color: $warning-light;
        border-color: $warning-light;
      }
    }

    &.is-danger {
      .notification-title {
        color: $danger-light;
        border-color: $danger-light;
      }
    }

    // Styling for tablet and larger
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .notification-title {
        padding-right: 20px;
        border-right: 2px solid;
      }

      .notification-message {
        flex: 1;
        padding-left: 20px;
      }

      .delete {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
      }
    }
  }

  
}