/**
 * The bulma notification element (http://bulma.io/documentation/elements/notification/)
 */ 
.notification {
  // Support different text sizes
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }

  // Support title/message in notification
  .notification-title {
    padding-right: 20px;
    border-right: 2px solid;
    opacity: 0.6;
  } 

  .notification-message {
    padding-left: 20px;
  }
}