/**
 * Posts (including in post lists) and pagination
 */
.post {
  padding: 40px 0;
  border-bottom: 1px solid $border;

  // No padding on first post (if in a list or by itself)
  &:first-child {
    padding-top: 0;
  }

  // General styles for a list of tags
  .post-tags {
    display: block;
    margin-bottom: 1em;

    .post-tag {
      display: inline-block;
      padding-right: 5px;
      
      &:last-child {
        padding-right: 0;
      }
    }
  }
  
  // The post header
  .post-header {
    // Tags list in the header
    .post-tags {
      .post-tag {
        a {
          font-size: $size-4;
          font-weight: $weight-bold;
          color: $grey-lighter;

          &:hover {
            color: $grey-light;
          }
        }
      }
    }

    // Metadata like the author and post date
    .post-metadata {
      color: $grey-light;
      margin-bottom: 1em;

      .post-time {
        font-weight: $weight-bold;
        color: $blue;
      }
    }
  }

  // The post content
  .post-content {
    margin-bottom: 0;
  }

  // The post footer
  .post-footer {
    // Tags list in the footer
    .post-tags {
      padding: 40px 0;
      border-bottom: 1px solid $border;
      text-align: right;
    }
  }
}

// Pagination for lists of posts
.posts-pagination {
  padding: 40px 0;
  border-bottom: 1px solid $border;

  // The older/newer posts buttons
  .button {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: $weight-bold;
  }
}