/**
 * Posts (including in post lists) and pagination
 */

// General post styles
.post {
  // General styles for a list of tags
  .post-tags {
    display: block;

    .post-tag {
      display: inline-block;
      padding-right: 5px;
      
      &:last-child {
        padding-right: 0;
      }
    }
  }
  
  // The post header
  .header {
    // Tags list in the header
    .post-tags {
      margin-bottom: $size-normal;

      .post-tag {
        a {
          font-size: $size-4;
          font-weight: $weight-bold;
          color: $grey-lighter;

          &:hover {
            color: $grey-light;
          }
        }
      }
    }

    // Metadata like the author and post date
    .post-metadata {
      color: $grey-light;
      margin-bottom: $size-normal;

      .post-time {
        font-weight: $weight-bold;
        color: $blue;
      }
    }
  }

  // The post content
  .post-content {
    margin-bottom: 40px;
  }

  // The post footer
  .post-footer {
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    // Author bio
    .post-author {
      padding-top: 40px;

      .media-content {
        padding-left: 20px;
      }
    }
  }
}

// A list of posts
.posts {
  // A post in a list of posts
  .post {
    padding: 40px 0;
    border-bottom: 1px solid $border;

    // No padding on first post (if in a list or by itself)
    &:first-child {
      padding-top: 0;
    }
  }
}

// Pagination for lists of posts
.posts-pagination {
  padding: 40px 0;
  border-bottom: 1px solid $border;

  // The older/newer posts buttons
  .button {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: $weight-bold;
  }
}