/**
 * Asides shown in the sidebar
 */

.sidebar-aside {
  border-bottom: 1px solid $border;

  .sidebar-aside-image {
    margin-bottom: $size-normal;

    img {
      border-radius: 50%;
    }
  }

  .sidebar-aside-title {
    font-size: $size-4;
    font-weight: $weight-bold;
    margin-bottom: $size-normal;
  }

  .sidebar-aside-buttons {
    margin-bottom: $size-normal;
  }

  .sidebar-aside-description {
    font-size: $size-6;
    margin-bottom: $size-normal;
  }
}