@import url('https://fonts.googleapis.com/css?family=Domine:700|Open+Sans:400,600');

// Color variations
$light-amount: 30%;
$lighter-amount: 55%;

$primary-light: lighten($primary, $light-amount);
$primary-lighter: lighten($primary, $lighter-amount);
$info-light: lighten($info, $light-amount);
$info-lighter: lighten($info, $lighter-amount);
$success-light: lighten($success, $light-amount);
$success-lighter: lighten($success, $lighter-amount);
$warning-light: lighten($warning, $light-amount);
$warning-lighter: lighten($warning, $lighter-amount);
$danger-light: lighten($danger, $light-amount);
$danger-lighter: lighten($danger, $lighter-amount);

// The width of the sidebars (currently 2 of 12 columns wide)
$sidebar-width-widescreen: ($widescreen + 40) * .16667;

/**
 * Common styles used by the site
 */
body {
  line-height: 1.45em;
}

// Change the default height of buttons since we altered the base text size for bulma
.button {
  height: 36px;
}

// Sidebars
.sidebar-column {
  // Hidden by default
  display: none;

  // Show on widescreen
  @include widescreen {
    display: block;
  }

  .sidebar {
    padding-bottom: 20px;
    border-bottom: 1px solid $border;

    &.bio {
      .image {
        margin-bottom: $size-normal;
      }
    }
  }
}

#site-footer {
  color: $grey-light;
  font-size: $size-6;
  text-align: center;
}