@import url('https://fonts.googleapis.com/css?family=Domine:700|Open+Sans:400,600');

/**
 * Common styles used by the site
 */

a {
  transition: color 0.2s ease-out;
}

// Titles and title links
.title, .subtitle,
.content h1, .content h2, .content h3, 
.content h4, .content h5, .content h6 {
  font-family: "Domine", serif;
  line-height: 1.45em;

  a {
    color: $text-strong;
    border-bottom: 3px solid transparent;
    transition: border 0.2s, color 0.2s ease-out;

    &:hover {
      color: $blue;
      border-bottom: 3px solid $grey-lighter;
    }
  }
}

// The bulma notification element (http://bulma.io/documentation/elements/notification/) 
.notification {
  // Support different text sizes
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }

  // Support title/message in notification
  .notification-title {
    padding-right: 20px;
    border-right: 2px solid;
    opacity: 0.6;
  } 

  .notification-message {
    padding-left: 20px;
  }
}

#site-footer {
  color: $grey-light;
  font-size: $size-6;
  text-align: center;
}

/**
 * Posts
 */
.post {
  padding: 40px 0;
  border-bottom: 1px solid $border;

  // No padding on first post (if in a list or by itself)
  &:first-child {
    padding-top: 0;
  }

  .post-tags {
    display: block;
    margin-bottom: 1em;

    .post-tag {
      display: inline-block;
      padding-right: 5px;
      font-size: $size-4;
      font-weight: $weight-bold;

      &:last-child {
        padding-right: 0;
      }

      a {
        color: $grey-lighter;

        &:hover {
          color: $grey-light;
        }
      }
    }
  }

  .post-metadata {
    color: $grey-light;
    margin-bottom: 1em;

    .post-time {
      font-weight: $weight-bold;
      color: $blue;
    }
  }
}

.posts-pagination {
  padding: 40px 0;
  border-bottom: 1px solid $border;

  .button {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: $weight-bold;
  }
}

/**
 * Sidebar asides
 */
.sidebar-aside {
  border-bottom: 1px solid $border;

  .sidebar-aside-image {
    margin-bottom: $size-normal;

    img {
      border-radius: 50%;
    }
  }

  .sidebar-aside-title {
    font-size: $size-4;
    font-weight: $weight-bold;
    margin-bottom: $size-normal;
  }

  .sidebar-aside-buttons {
    margin-bottom: $size-normal;
  }

  .sidebar-aside-description {
    font-size: $size-6;
    margin-bottom: $size-normal;
  }
}

// A mixin for common social button classes below
@mixin social-button-sizes($size, $font-size) {
  line-height: $size;

  .icon {
    width: $size;
    height: $size;
    font-size: $font-size;
    line-height: $size;
  }
}

@mixin social-button-colors($background, $text) {
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  
  &:hover {
    background-color: $background;
    color: $text;
  }
}

// Social media link buttons
.social-button {
  display: inline-block;
  background-color: $grey-lighter;
  border-radius: 50%;
  color: $grey;
  padding: 7px;

  @include social-button-sizes(24px, 21px);
  
  // Support size modifiers
  &.is-small {
    @include social-button-sizes(16px, 14px);
  }

  &.is-medium {
    @include social-button-sizes(32px, 28px);
  }

  &.is-large {
    @include social-button-sizes(48px, 42px);
  }

  // Colors for specific social media buttons
  &.twitter {
    @include social-button-colors(#00acee, #fff);
  }

  &.github {
    @include social-button-colors(#171515, #fff);
  }

  &.rss {
    @include social-button-colors(#ee802f, #fff);
  }

  &.google-plus {
    @include social-button-colors(#db4437, #fff);
  }

  &.linkedin {
    @include social-button-colors(#0084BF, #fff);
  }
}

