<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>{% block title %}{{ page.title }} - {{ config.title }}{% endblock %}</title>
  <meta name="author" content="{{ config.author }}" />

  <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ config.title }} ATOM Feed" />
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  <link rel="prefetch" href="{{ config.url }}" />

  <link href="/css/styles.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="canonical" href="{{ url }}" />
  {% block head %}
  {% endblock %}  
</head>
<body>
  {# Site header #}
  <header id="site-header">
    <nav class="nav">
      <div class="container is-fluid">
        <div class="nav-left">
          <span class="nav-item is-brand">
            <a class="button is-dark is-medium" href="/">
              <span class="icon">
                <i class="fa fa-bookmark-o"></i>
              </span>
              <span>Luke Tillman</span>
            </a>
          </span>
        </div>

        {# Hamburger menu on mobile #}
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <div class="nav-right nav-menu">
          <a class="nav-item" href="/about">
            About
          </a>
          <a class="nav-item" href="/contact">
            Contact
          </a>
        </div>
      </div>
    </nav>
  </header>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          {# The main content block #}
          {% block content %}
          {% endblock %}
        </div>
        <div class="column sidebar-column">
          {# The sidebar, which by default just includes the site title and description #}
          {% block sidebar %}
          <aside class="sidebar bio">
            <p class="image is-128x128">
              <img src="{{ url_for(site.data.author.image_path) }}">
            </p>

            <h4 class="title is-4">
              {{ config.title }}
            </h4>

            <p class="bio-text">
              {{ config.description }}
            </p>
          </aside>
          {% endblock %}
        </div>
      </div>
    </div>
  </section>

  {# Site Footer #}
  <footer id="site-footer" class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          Copyright &copy; <a class="link" href="{{ config.url }}">{{ config.author }}</a>. {{ moment().format('YYYY') }} &bull; 
          All rights reserved.
        </div>
      </div>
    </div>
  </footer>
</body>
</html>