<!doctype html>
<html>
<head>
  <title>{{ page.title }} - Luke Tillman</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  {# Site header #}
  <header>
    <nav class="nav">
      <div class="container is-fluid">
        <div class="nav-left">
          <a class="nav-item is-brand" href="/">
            Luke Tillman
          </a>
        </div>

        <!-- Menu on mobile -->
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <div class="nav-right nav-menu">
          <a class="nav-item" href="/about">
            About
          </a>
          <a class="nav-item" href="/contact">
            Contact
          </a>
        </div>
      </div>
    </nav>
  </header>

  {# Main contents #}
  {% block content %}
  {% endblock %}

  {# Site Footer #}
  <footer></footer>
</body>
</html>