<!doctype html>
<html>
<head>
  <title>Luke Tillman - {{ page.title }}</title>
</head>
<body>
  {# Site header #}
  <header></header>

  {# Main contents #}
  {% block content %}
  {% endblock %}

  {# Site Footer #}
  <footer></footer>
</body>
</html>