{# Partial view to render a list of posts and pagination #}
<div class="posts">
  {% for post in page.posts.data %}
  <article class="post">
    {% include "./post-header.njk" %}

    <p class="post-excerpt">
      {{ post.excerpt }} ...
    </p>
  </article>
  {% endfor %}
</div>

<nav class="posts-nav">
  <div class="posts-nav-left">
  {% if page.prev !== 0 %}
    <a class="button" href="{{ url_for(page.prev_link) }}">
      <span class="icon"><i class="fa fa-angle-left"></i></span>
      <span>Newer Posts</span>
    </a>
  {% endif %}
  </div>

  <div class="posts-nav-right">
  {% if page.next !== 0 %}
    <a class="button" href="{{ url_for(page.next_link) }}">
      <span>Older Posts</span>
      <span class="icon"><i class="fa fa-angle-right"></i></span>
    </a>
  {% endif %}
  </div>
</nav>